body,
p,
h1,
h2,
ul,
li,
img,
span,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Open Sans;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 970px;
  margin: 0 auto;
}
img {
  align-items: center;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: 1px solid #ccc; /* оця лінія під меню */
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  a {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--text);

    a:hover,
    a:focus {
      color: var(--main);
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--black);
  margin-top: 12px;
  margin-bottom: 50px;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: var(--black);
}
.about,
.portfolio {
  background: var(--bg-gray);

  background: #f6f6f6;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.about-me > :first-child {
  margin-top: 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}

.light {
  color: rgba(102, 100, 100, 0.603);
}

.skills h2 {
  margin-bottom: 20px;
}

.programs {
  display: flex;
  gap: 97px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  img {
    margin-bottom: 50px;
  }

  .li {
    max-width: 170px;
  }

  p {
    margin-top: 25px;
    /* height: 38px; */
    /* margin-bottom: 60px; */
  }
  .stars {
    margin-top: 60px;
  }
}

.portfolio p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  margin-bottom: 70px;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 112px 0 107px 0;

  h2 {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 60px;
  }
  button {
    width: 180px;
    height: 44px;
    border: none;
    border-radius: 22px;
    background-color: #070707;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
    margin: 0;
  }
  button:hover,
  button:focus {
    opacity: 0.5;
  }
  ul {
    display: flex;
    max-width: 310px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 30px;

    li {
      a {
        transition: all 0.1s ease-in;
      }

      a:hover svg {
        opacity: 0.5;
      }
    }
  }
  .like {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
  }
}
